<div class="row">
  <div id="clubs_index" class="span12">
    <h1><%= t '.title', :league => @current_league.name %></h1>
    <% @clubs.each do |club| %>
    <div class="club">
      <%= link_to club_path(club) do %>
      <%= image_tag club.logo.url(:small),
                    alt: "#{club.name} #{Club.human_attribute_name(:logo)}" %>
      <p><%= club.name %></p>
      <% end %>
    </div>
    <% end -%>
  </div>
</div>