<div id="club_show" class="row">
  <h1><%= @club.name %> (<%= @club.short_name %>)</h1>
  <div id="club_info" class="span5">
    <%= image_tag @club.logo.url(:medium), :id => 'club_logo',
          :alt => "#{@club.name} #{Club.human_attribute_name(:logo)}" %>
    <%= @club.description.html_safe %>
  </div>
</div>