<tr class="<%= file_in_cart.position %>">
  <td><%= jersey_with_number file_in_cart %></td>
  <td><%= link_to_modal_player_file file_in_cart %></td>
  <td><%= number_to_human(file_in_cart.value_million)  %></td>
</tr>
