<title><%= t '.title' %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="<%= t('.description') %>" />
<meta name="keywords" content="<%= t('.keywords') %>" />
