<table class="table table-striped player-rank">
<tbody>
<% players.each do |player| %>
  <tr>
    <td><%= jersey_with_number player.club_file_on_date(@game.date) %></td>
    <td class="name"><%= player.name %></td>
    <td class="points"><%= player.week_stats(:points,@game.league,@game.season,@game.week) %></td>
  </tr>
<% end %>
</tbody>
</table>
