//---------------------------------------------------------
// CLUBS

#clubs_index {
  h1 {
    margin-bottom: 20px;
  }
  .club {
    float:left;
    margin: 10px 30px;
    padding: 10px 0;
    width: 170px;
    background-color: @successBackground;
    .border-radius(20px);
    img {
      .center-block()
    }
    p {
      text-align: center;
    }
    a {
      text-decoration: none;
    }
  }
}

#club_show {
  h1 {
    margin-bottom: 20px;
  }
  #club_info {
    padding: 30px;
    background-color: @successBackground;
    .border-radius(20px);

    img#club_logo {
      float: right;
    }
  }

  .table {
    td, th {
      padding: 1px;
      vertical-align: middle;
      text-align: center;
    }

    th {
      font-size: 1.3em;
      padding-bottom: 5px;
    }

    td {
      font-size: 1.1em;
    }

    td.result {
      font-family: @numberFont;
      font-size: 1.5em;
    }
  }
}
