//---------------------------------------------------------
// GENERAL

.jersey {
  display: inline-block;
  position: relative;

  span {
    font-family: @numberFont;
    font-size: 1.3em;
    position: absolute;
    text-align: center;
    top: 0.4em;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

//---------------------------------------------------------
// TABLES

table.player-files {
  td, th {
    padding: 3px;
    vertical-align: middle;
    text-align: center;
  }

  th {
    font-size: 1.3em;
    padding-bottom: 5px;
  }

  td {
    font-size: 1.1em;

    form {
      margin: 0;
      display: inline-block;
    }
  }
}

table.player-rank {
    td {
      padding: 3px;
      vertical-align: middle;
      text-align: center;
    }

    td.name {
      width: 70%;
      font-size: 1.1em;
      font-weight: blod;
    }

    td.points {
      width: 15%;
      font-family: @numberFont;
      font-size: 1.5em;
    }
  }

//---------------------------------------------------------
// LAYAOUT

.navbar {
  img.avatar {
    margin-top: 3px;
  }
}

#sign_in_modal.modal {
  width: 582px;
}

#footer_grass {
  display: block;
  clear: both;
  height: 42px;
  margin-top: 40px;
  background: url(footer_grass.png) repeat-x top left;
}

footer {
  padding: 15px 200px;
  border-top: 10px solid @green;
  text-align: right;
  color: @white;
  #gradient > .vertical(#9e211a, #ee5f5b);
}
