//---------------------------------------------------------
// GENERAL

.jersey {
  display: inline-block;
  position: relative;

  span {
    font-family: @numberFont;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    top: 0.4em;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}

//---------------------------------------------------------
// LAYAOUT

.navbar {
  img.avatar {
    margin-top: 3px;
  }
}

#sign_in_modal.modal {
  width: 582px;
}

footer {
  text-align: right;
}
