//---------------------------------------------------------
// HOME

#main_home {
  #home-description {
    .description {
      display: inline-block;
      vertical-align: middle;
      max-width: 500px;
      h1 {
        margin-bottom: 20px;
        border-bottom: 1px solid @black;
      }

      p {
        text-indent: 1.5em;
        font-size: 1.3em;
      }
    }
  }
}
