//---------------------------------------------------------
// HOME

#main_home {
  padding: 10px;
  background-color: @successBackground;
  .border-radius(20px);

  img#home_logo {
    float: right;
  }
}
