#teams_index {
  #new_team_info {
    margin: 20px 0;
    text-align: center;
    h4 {
      margin-bottom: 10px;
    }
  }
}

#new_team {
  form {
    margin: 20px;
    text-align: center;
  }
}

#show_team {
  #could_activate {
    form {
      text-align: center;
      margin: 10px 0 0;
    }
  }
  #team_info {
    #inactive_team {
      color: @red;
      float: right;
      font-weight: bolder;
      font-size: 1.2em;
      span {
        margin-right: 5px;
      }
    }
  }
}
