#teams_index {
  #new_team_info {
    margin: 20px 0;
    text-align: center;
    h4 {
      margin-bottom: 10px;
    }
  }
}

#new_team {
  form {
    margin: 20px;
    text-align: center;
  }
}

#show_team {
  overflow-x: hidden;
  position: relative;

  #could_activate {
    form {
      text-align: center;
      margin: 10px 0 0;
    }
  }
  #team_info {
    #inactive_team {
      color: @red;
      float: right;
      font-weight: bolder;
      font-size: 1.2em;
      span {
        margin-right: 5px;
      }
    }
  }

  #team_files {
    h2 {
      border-bottom: 1px solid black;
    }

    #hide-changes-button {
      display: inline-block;
      width: 32px;
      height: 32px;
      cursor: pointer;
      float: right;
      background: url('icons/expand.png') no-repeat right top;
    }

    #hide-changes-button.contract {
      background: url('icons/contract.png') no-repeat right top;
    }

    #team-alignment {
      -webkit-transition: @transitions;
      -moz-transition: @transitions;
      -o-transition: @transitions;

      #team_files_list {
        #could_activate, #activation_warning {
          h4 {
            text-align: center;
            margin-bottom: 5px;
          }

          p {

            text-align: center;
            font-size: 1.1em;
          }
        }

        #team_files_info {
          margin: 20px;
          text-align: center;

          span.label {
            font-size: 1.5em;
            font-weight: bolder;
          }
          span.formation {
            margin-left: 5px;
            font-family: @numberFont;
            letter-spacing:4px;
            font-size: 1.3em;
          }
          span.million {
            margin-left: 5px;
            margin-right: 20px;
            font-size: 1.5em;
          }
        }
      }
    }

    #team_files_changes {
      position: relative;
      right: 0;
      -webkit-transition: @transitions;
      -moz-transition: @transitions;
      -o-transition: @transitions;
    }

    #team_files_changes.hide-changes {
      right: -800px;
    }

  }

  #find_file {
    .pagination {
      text-align: center;
    }
  }
}
