<tr>
  <%= render partial: 'shared/file_row', object: team_file %>

  <td>
    <%= form_for [@team, team_file], :method => "delete" do |f| %>
      <%= image_submit_tag 'icons/exchange.png', alt: t('.sell_player'),
            class: 'tooltip_button', title: t('.sell_player'),
            :confirm => t('.sell_confirm', player_name: team_file.player_name) %>
    <% end %>
  </td>
</tr>
